<div class="responsive-header">
  <div class="vw16 center"><%= t('.author') %></div>
  <div class="vw60 center"><%= t('.comment') %></div>
  <div class="vw16 center"><%= t('.actions') %></div>
</div>
