<div class="responsive-header">
  <div class="vw16 center"><%= t('.author') %></div>
  <div class="vw60 center"><%= t('.comment') %></div>
  <div class="vw16 center">
    <i class="fa fa-wrench" aria-hidden="true" data-toggle="tooltip"
      data-placement="top" title="<%= t('.actions') %>"></i>
  </div>
</div>
