<% content_for :title, t('.edit_comment') %>

<div class="col-10 mb-3">
  <h2 class="text-center h2 mb-4"><%= t('.edit_comment') %></h2>
  <%= form_for @comment, :url => admin_comment_path do |f| %>
    <div class="content mb-5">
      <%= render 'form_header' %>
      <%= render 'form', f: f %>
    </div>
  <% end %>
</div>
