<% content_for :title, t('.comments') %>

<% unless @comments.empty? %>
  <div class="col-12 content mb-3">
    <%= render 'list_header' %>
    <% @comments.each do |comment| %>
      <%= render 'list', comment: comment %>
    <% end %>
  </div>
  <% if @comments.total_pages > 1 %>
    <div class="pagination col-12 d-flex justify-content-center mt-5">
      <%= link_to_previous_page @comments, t('.previous_page') %>
      <%= link_to_next_page @comments, t('.next_page') %>
    </div>
  <% end %>
<% else %>
  <% content_for :notice, t('.comments_list_empty') %>
<% end %>

