<% content_for :social_networks, social_networks_links(t('.error_422')) %>

<% content_for :title, t('.error_422') %>

<div class="col-12 content mb-4">
  <h2 class="text-center"><%= t('.header') %></h2>
  <p><%= raw t('.content') %></p>
</div>
