<% unless new_post %>
  <%= image_tag post_image(post), :alt => post.title, :class => "post-header" %>
<% end %>
<% if post.errors.any? %>
  <% post.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>
