<div class="responsive-header">
  <div class="vw60"><%= t('.title') %></div>
  <div class="vw10"><%= t('.published') %></div>
  <div class="vw10"><%= t('.visits-count') %></div>
  <div class="vw16"><%= t('.actions') %></div>
</div>
