<div class="responsive-header">
  <div class="responsive-header__title"><%= t('.title') %></div>
  <div class="responsive-header__published"><%= t('.published') %></div>
  <div class="responsive-header__visits-count"><%= t('.visits-count') %></div>
  <div class="responsive-header__actions"><%= t('.actions') %></div>
</div>
