<% content_for :title, t('.posts') %>

<% unless @posts.empty? %>
  <div class="col-12 content mb-3">
    <%= render 'list_header' %>
    <% @posts.each do |post| %>
      <%= render 'list', post: post %>
    <% end %>
  </div>
<% else %>
  <% content_for :notice, raw(t('.posts_list_empty',
    href: link_to(t('.publish_something'), new_admin_post_path))) %>
<% end %>
