<% content_for :title, t('.posts') %>

<% unless @posts.empty? %>
  <div class="col-12 content mb-3">
    <%= render 'list_header' %>
    <% @posts.each do |post| %>
      <%= render 'list', post: post %>
    <% end %>
  </div>
  <% if @posts.total_pages > 1 %>
    <div class="pagination col-12 d-flex justify-content-center mt-5">
      <%= link_to_previous_page @posts, t('.previous_page') %>
      <%= link_to_next_page @posts, t('.next_page') %>
    </div>
  <% end %>
<% else %>
  <% content_for :notice, raw(t('.posts_list_empty',
    href: link_to(t('.publish_something'), new_admin_post_path))) %>
<% end %>
