.content {
  @include breakpoint-up(md) {
    background-color: $entry-background;
    border: 1px solid $entry-border;
    padding: 1.3vw;
    font-size: 17px;
    color: $font-color;
  }
  img.post-header {
    @include breakpoint-up(md) {
      margin: -1.3vw -1.3vw 2vw -1.3vw;
      width: calc(100% + #{2.6vw});
    }
    width: 100%;
    margin-bottom: 15px;
  }
}

.date-badge {
  @include background-opacity($dark-gray, 0.5);
  position: absolute;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  left: 25px;
  padding: 3px 7px;
  color: $white;
  font-size: 13px;
  border-radius: 10px;
}

.category-badge {
  @include background-opacity($dark-gray, 0.5);
  position: absolute;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  right: 25px;
  padding: 3px 7px;
  color: $white;
  font-size: 13px;
  border-radius: 10px;
  a {
    color: $white;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

.btn-primary {
  background-color: $bootstrap-primary-color;
  border-color: $bootstrap-primary-color;
  white-space: normal;
  &:hover {
    background-color: $bootstrap-primary-color-hover;
    border-color: $bootstrap-primary-color-hover;
  }
  &:active {
    background-color: $bootstrap-primary-color !important;
    border-color: $bootstrap-primary-color !important;
  }
}

.bottom-links {
  margin-top: 6vh;
  a {
    color: $white;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}

.hljs {
  padding: 1.3vw;
}
