.content {
  @include breakpoint-up(md) {
    background-color: $entry-background;
    border: 1px solid $entry-border;
    padding: 1.3vw;
    font-size: 17px;
    color: $font-color;
  }
  .post-body {
    img {
      @include breakpoint-up(md) {
        margin: 0 -1.3vw 0 -1.3vw;
        width: calc(100% + #{2.6vw});
      }
      width: 100%;
      margin-bottom: 15px;
    }
  }
  img.post-header {
    @include breakpoint-up(md) {
      margin: -1.3vw -1.3vw 2vw -1.3vw;
      width: calc(100% + #{2.6vw});
    }
    width: 100%;
    margin-bottom: 15px;
  }
}

.date-badge {
  @include background-opacity($dark-gray, 0.5);
  position: absolute;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  left: 25px;
  padding: 3px 7px;
  color: $white;
  font-size: 13px;
  border-radius: 10px;
}

.category-badge, .posts-badge {
  @include background-opacity($dark-gray, 0.5);
  position: absolute;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  right: 25px;
  padding: 3px 7px;
  color: $white;
  font-size: 13px;
  border-radius: 10px;
  a {
    color: $white;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

.btn-primary {
  background-color: $bootstrap-primary-color;
  border-color: $bootstrap-primary-color;
  white-space: normal;
  &:hover {
    background-color: $bootstrap-primary-color-hover;
    border-color: $bootstrap-primary-color-hover;
  }
  &:active {
    background-color: $bootstrap-primary-color !important;
    border-color: $bootstrap-primary-color !important;
  }
}

.links {
  a {
    color: $white;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}

.bottom-links {
  @extend .links;
  margin-top: 6vh;
}

.hljs {
  padding: 1.3vw;
}

.responsive-header {
  display: none;
  @include breakpoint-up(lg) {
    display: flex;
    padding: .4vw;
    border: 1px solid $dark-gray;
    background-color: $dark-gray;
    color: $white;
    font-weight: bold;
    .center {
      text-align: center;
    }
  }
}

.responsive-table {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  white-space: normal;
  border: 1px solid $dark-gray;
  @include breakpoint-up(lg) {
    flex-direction: row;
    margin-bottom: 0;
    align-items: center;
    &:not(:first-of-type) {
      border-top: 0;
    }
  }
  > * {
    padding: .4vw;
  }
  > :nth-child(even) {
    background-color: $light-gray;
    @include breakpoint-up(lg) {
      background-color: inherit;
    }
  }
  &:nth-of-type(even) {
    @include breakpoint-up(lg) {
      background-color: $light-gray;
    }
  }
  &--pending {
    > :nth-child(even) {
      background-color: $red;
    }
    &:nth-of-type(even) {
      @include breakpoint-up(lg) {
        background-color: $red;
      }
    }
    background-color: $red;
    a.alternative {
      color: $pending-comment-link;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
  &--approved {
    a.alternative {
      color: $blue;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
    .highlighted {
      a.alternative {
        color: $white;
        &:hover {
          color: $entry-link-hover;
          text-decoration: none;
        }
      }
      @include breakpoint-up(lg) {
        a.alternative {
          color: $blue;
          &:hover {
            color: inherit;
          }
        }
      }
    }
  }
  .highlighted {
    font-weight: bold;
    color: $white;
    background-color: $dark-gray;
    @include breakpoint-up(lg) {
      background-color: inherit;
      font-weight: normal;
      color: inherit;
    }
  }
  .center {
    @include breakpoint-up(lg) {
      text-align: center;
    }
  }
  .legend {
    @include breakpoint-up(lg) {
      display: none;
    }
  }
  .first {
    order: -1;
    @include breakpoint-up(lg) {
      order: inherit;
    }
  }
  .show-up-lg {
    display: none;
    @include breakpoint-up(lg) {
      display: block;
    }
  }
  .distribute {
    display: flex;
    justify-content: space-between;
    p {
      padding: 0;
      margin: 0;
    }
    @include breakpoint-up(lg) {
      display: inline-block;
    }
  }
  img {
    height: 50px;
    background-color: $white;
    padding: 3px;
    border: 1px solid $dark-gray;
    border-radius: 50%;
    &.no-radius {
      @extend img;
      border-radius: 0;
    }
  }
}

.list {
  @include breakpoint-up(md) {
    background-color: $entry-background;
  }
  border: 1px solid $entry-border;
  height: 100%;
  transition: all .5s ease;
  &:hover {
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
  }
  .date-badge, .category-badge, .posts-badge {
    top: 10px;
  }
  img {
    width: 100%;
  }
  &__content {
    padding: 1.25rem;
  }
  &__title {
    margin-bottom: .75rem;
    font-size: 1.25rem;
  }
  &__text {
    margin-bottom: 0;
  }
  a p {
    color: $font-color;
    &:hover {
      color: $font-color;
    }
  }
}

.courses-list {
  display: flex;
  transition: all .5s ease;
  &__number {
    display: flex;
    justify-content: center;
    margin: -0.3vw 1vw 0 2vw;
    @include breakpoint-up(lg) {
      margin-top: 0;
      align-items: center;
      align-self: center;
      background-color: $main-color;
      border-radius: 50%;
      height: 4vw;
      width: 4vw;
    }
    p {
      font-weight: bold;
      font-size: 20px;
      color: $main-color;
      @include breakpoint-up(lg) {
        color: $white;
      }
    }
  }
  &__content {
    padding: 0 1.3vw 0 1.3vw;
    h2 {
      font-size: 1.25rem;
    }
  }
  a {
    width: 80vw;
    p {
      color: $font-color;
      &:hover {
        color: $font-color;
      }
    }
  }
  &:hover {
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
  }
}

.category, .course, .user, .comment {
  display: flex;
  &__image, &__avatar {
    margin-right: 3vw;
    img {
      background-color: $white;
      padding: 3px;
      border: 1px solid $dark-gray;
      border-radius: 50%;
      width: 90px;
    }
  }
  &__content {
    width: 100%;
      p + .comment__reply {
        margin-top: -10px;
      }
  }
  &__header {
      display: flex;
      justify-content: space-between;
  }
  &__reply {
    float: right;
    color: $white;
      a {
        font-size: 9px;
      }
  }
  &__bio, &__desc {
    width: 100vw;
    .fa {
      color: inherit;
    }
  }
  &__links {
    list-style-type: none;
    text-align: center;
    font-size: 25px;
    margin-top: 3vh;
    margin-bottom: 0;
    padding-left: 0;
    li {
      display: inline;
      margin-right: 6%;
      a {
        transition: all .8s ease;
        &:hover {
          transition: all .8s ease;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .show-up-lg {
    display: none;
    @include breakpoint-up(lg) {
      display: block;
    }
  }
}

.social {
  text-align: center;
  &__list {
    list-style-type: none;
    text-align: center;
    font-size: 40px;
    padding-left: 0;
    margin-bottom: 0;
    li {
      display: inline;
      margin-right: 6%;
      .fa {
        color: $dark-gray;
        transition: all .8s ease;
      }
      a.social-btn {
        &--twitter .fa {
          &:hover {
            color: $twitter;
          }
        }
        &--facebook .fa {
          &:hover {
            color: $facebook;
          }
        }
        &--mail .fa {
          &:hover {
            color: $main-color;
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.copy {
  display: flex;
  i {
    align-self: center;
  }
  .fa {
    color: $black;
  }
  .alert-copy {
    position: relative;
    margin-right: 20px;
    padding: 0;
    small {
      top: 0;
      background-color: $black;
      color: $white;
      text-transform: lowercase;
      padding: 2px 2px 2px 4px;
      &:after {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        left: 100%;
        top: 4px;
        border: 10px solid transparent;
        border-left: 10px solid $black;
      }
    }
  }
}

.pagination > * {
  &:nth-child(even) {
    margin-left: 10vw;
    @include breakpoint-up(md) {
      margin-left: 40vw;
    }
  }
}
