.footer {
  margin-top: 1em;
  background-color: $main-color;
  color: $white;
  bottom: 0;
  padding: 20px 15px 15px 15px;
  p {
    text-align: center;
    margin: 0;
  }
  a {
    color: $main-color-hover;
    transition: all .8s ease;
    &:hover {
      color: $white;
      text-decoration: none;
      transition: all .8s ease;
    }
  }
  &__list {
    list-style-type: none;
    text-align: center;
    font-size: 35px;
    margin: 5px auto 0 auto;
    li {
      display: inline;
      margin-right: 3%;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.cookies {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  padding: 10px;
  background-color: $black;
  z-index: 999999;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  &__message {
    margin-left: 5%;
  }
  &__button {
    margin-right: 5%;
    margin-left: 5%;
  }
}
