html, body {
  height: 100vh;
}

body {
  display: flex;
  flex-flow: column;
  @include breakpoint-up(md) {
    background-color: $background;
  }
}

.page {
  flex: 1 0 auto;
  h2, h3, h4, h5, h6 {
    color: $entry-link;
    em, strong {
      color: $entry-link;
    }
  }
  a:not(.btn):not(.badge-link):not(.page-link):not(.social-btn) {
    color: $entry-link;
    &:hover {
      text-decoration: none;
      color: $entry-link-hover;
    }
  }
  .fa {
    color: $white;
  }
}
.post-body {
  h3, h4, h5, h6 {
    margin-top: 5vh;
  }
}

pre {
  @include breakpoint-up(md) {
    margin-right: -1.3vw;
    margin-left: -1.3vw;
  }
  &:last-child {
    margin-bottom: -1.3vw;
  }
}

.container, .container-fluid {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  position: relative;
  :not(h2):not(h3):not(h4):not(h5):not(h6) > em {
    color: $italic;
    font-family: "Times New Roman", cursive;
    font-size: 19px;
  }
}

p {
  &:last-child {
    margin-bottom: -1px;
  }
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5, h6 {
  font-size: 1rem;
}

blockquote {
  padding-left: 1.5rem;
  border-left: 5px solid $main-color-hover;
}

.hidden {
  display: none;
}
