$white: #ffffff;
$light-gray: #dadada;
$dark-gray: #777777;
$main-color: #57861e;
$main-color-hover: #76ca11;
$main-color-highlight: #517525;
$main-color-hover: #76ca11;
$background: #eae9e9;
$bootstrap-primary-color: #6aa423;
$bootstrap-primary-color-hover: #57861e;
$entry-link: #57861e;
$entry-link-hover: #81c331;
$entry-background: #f6f6f6;
$entry-border: #e0e0e0;
$font-color: #212529;
$italic: #737373;
