<% content_for :title, t('.courses') %>

<% if @courses.empty? %>
  <div class="alert alert-info" role="alert">
    <%= t('.courses_list_empty') %>
  </div>
<% else %>
  <%= render 'courses-list' %>
<% end %>
