<% if current_user.present? && current_user.admin? %>
  <div class="col-12 links text-center mb-5">
    <% if @post.image.present? %>
      <%= link_to t('.destroy_image'), admin_post_destroy_image_path(post_id: @post.slug),
        data: { confirm: t('.delete_confirm') }, :method => :put,
        :class => "btn btn-primary" %>
    <% end %>
    <%= link_to t('.edit'), edit_admin_post_path(id: @post.slug),
      :class => "btn btn-warning" %>
    <%= link_to t('.delete'), admin_post_path(id: @post.slug),
      data: { confirm: t('.delete_confirm') }, :method => :delete,
      :class => "btn btn-danger" %>
  </div>
<% end %>
