<div class="form-group">
  <%= f.label :image %>
  <%= f.file_field :image, :class => "form-control-file" %>
</div>

<div class="actions">
  <%= f.submit t('.upload'), :class => "btn btn-primary" %>
</div>
