<div class="form-group">
  <%= f.label :title_en %>
  <%= f.text_field :title_en, autofocus: true, :class => "form-control", :required => true %>
</div>

<div class="form-group">
  <%= f.label :description_en %>
  <%= f.text_area :description_en, :class => "form-control", :rows => 8, :required => true %>
</div>
