<% content_for :title, t('.categories') %>

<% if @categories.empty? %>
  <div class="alert alert-info" role="alert">
    <%= t('.categories_list_empty') %>
  </div>
<% else %>
  <%= render 'categories-list' %>
<% end %>
