<p><%= t('.hello', email: @resource.email) %></p>

<p><%= t('.reset_message') %></p>

<p><%= link_to t('.reset_link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.farewell') %></p>
