<p><%= t('.hello', name: @resource.name) %></p>

<p><%= t('.unlock_explanation') %></p>

<p><%= t('.unlock_message') %></p>

<p><%= link_to t('.unlock_link'), unlock_url(@resource, unlock_token: @token, :locale => I18n.locale) %></p>
