<footer class="footer mt-5">
  <p><%= raw t('.github_repo', link: "https://github.com/sargantanacode/sargantanacode") %></p>
  <p><%= raw t('.content_license', link: "https://creativecommons.org/licenses/by-sa/4.0/deed.es") %></p>
  <ul class="footer__list">
    <li>
      <a href="https://www.facebook.com/sargantanacode">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/sargantanacode">
        <i class="fa fa-github-square" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/sargantanacode">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</footer>

<div id="cookies" class="cookies hidden">
  <div class="cookies__message"><%= t('.cookie_message') %></div>
  <div class="cookies__button">
    <a id="acceptcookies" class="btn btn-sm btn-primary text-center">
      <%= t('.accept') %>
    </a>
  </div>
</div>
