<footer class="footer mt-5">
  <p><%= raw t('.github_repo', link: "https://github.com/sargantanacode/sargantanacode") %></p>
  <% if I18n.locale == :es %>
    <p><%= raw t('.content_license', link: "https://creativecommons.org/licenses/by-sa/4.0/deed.es") %></p>
  <% else %>
    <p><%= raw t('.content_license', link: "https://creativecommons.org/licenses/by-sa/4.0/") %></p>
  <% end %>
  <ul class="footer__list">
    <li>
      <a href="https://www.facebook.com/sargantanacode">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/sargantanacode">
        <i class="fa fa-github-square" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/sargantanacode">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</footer>
