<div class="svg-container">
  <svg version="1.1" baseProfile="basic" class="logo" aria-hidden="true" viewBox="0 0 646 50">
    <path
      d="M15,41v-6H9v-6h6V17H9v-6h6V5h12v6h6V5h6v6h6v6h-6v12h6v6h-6v6h-6v-6h-6v6H15z M33,29V17h-6v12H33z"/>
    <path
      d="M57,41v-6h-6v-6h12v6h6v-6h-6v-6h-6v-6h-6v-6h6V5h24v6h6v6H75v-6h-6v6h6v6h6v6h6v6h-6v6H57z"/>
    <path
      d="M99,41v-6h-6v-6h6v-6h18v-6H99v-6h24v6h6v24H99z M117,35v-6h-12v6H117z"/>
    <path d="M135,41V11h30v6h6v6h-12v-6h-12v24H135z"/>
    <path
      d="M183,47v-6h18v-6h-18v-6h-6V17h6v-6h30v30h-6v6H183z M201,29V17h-12v12H201z"/>
    <path
      d="M225,41v-6h-6v-6h6v-6h18v-6h-18v-6h24v6h6v24H225z M243,35v-6h-12v6H243z"/>
    <path d="M261,41V11h30v6h6v24h-12V17h-12v24H261z"/>
    <path d="M315,41v-6h-6V17h-6v-6h6V5h12v6h18v6h-18v18h18v6H315z"/>
    <path
      d="M351,41v-6h-6v-6h6v-6h18v-6h-18v-6h24v6h6v24H351z M369,35v-6h-12v6H369z"/>
    <path d="M387,41V11h30v6h6v24h-12V17h-12v24H387z"/>
    <path
      d="M435,41v-6h-6v-6h6v-6h18v-6h-18v-6h24v6h6v24H435z M453,35v-6h-12v6H453z"/>
    <path d="M477,41v-6h-6V11h6V5h24v6h6v6h-12v-6h-12v24h12v-6h12v6h-6v6H477z"/>
    <path d="M519,41v-6h-6V17h6v-6h24v6h6v18h-6v6H519z M537,35V17h-12v18H537z"/>
    <path d="M561,41v-6h-6V23h6v-6h18V5h12v36H561z M579,35V23h-12v12H579z"/>
    <path
      d="M603,41v-6h-6V17h6v-6h24v6h6v12h-24v6h18v6H603z M621,23v-6h-12v6H621z"/>
  </svg>
</div>
