<li class="nav-item <%= active?(homepage_path) %>">
  <%= link_to t('.home'), homepage_path, :class => 'nav-link' %>
</li>
<li class="nav-item <%= active?(categories_path) %>">
  <%= link_to t('.categories'), categories_path, :class => 'nav-link' %>
</li>
